@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.company-logo {
    text-decoration: none;
    float: left;
    width: 74px;
    height: 57.139px;
    flex-shrink: 0;
}


ul {
    list-style: none;
}

.container {
    width: 1512px;
    height: 77px;
    background: #EEF2FB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
    box-shadow: 0px 0px 2px 0px gray;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-left: 26rem;
}


.navigation {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;

}

.navigation:hover {
    font-weight: 600;

}

.login-account {
    float: right;
}

#account {
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #333;
    width: 162px;
    height: 35px;
    padding: 8px 16px;
}

#account:hover {
    color: #fff;
    background: #5DD9F4;
}

#client-login {
    border-radius: 5px;
    border: 1px solid #333;
    background: #1371FF;
    color: #fff;
    width: 162px;
    height: 35px;
    padding: 4px 16px;
    font-size: 16px;
}

#client-login:hover {
    /* border-radius: 5px; */
    border: 1px solid #FFF;
    background: #0D9CBC;
    color: #fff;
}

.login-account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.Rectangle {
    width: auto;
    height: 905px;
}

.img-part {
    position: relative;
    top: 77px;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 905px;
    background-repeat: no-repeat;
    background: url(image/corppngbg.png);
}


.text div {
    width: 695px;
    height: 110px;
    position: relative;
    top: 245px;
    bottom: 55px;
    padding-left: 63px;
    color: #000000;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
}

.forex {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 43px 0 43px 115px;
}

.forex-content {
    color: #333;
    width: 83.1vw;
    height: 308px;
    margin: auto;
    font-size: 18px;
    text-align: justify;
    text-transform: uppercase;
    line-height: 1.45;
}


.fx-corp {
    text-transform: uppercase;
    display: inline-flex;
    padding: 16px 18px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /* gap: 49px; */
    border: 2px solid #292525;
    margin-left: 616px;
}



.last-container {
    width: 1512px;
    height: 150px;
}

.media {
    width: 115px;
    height: 30px;
    margin: 32px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.logo1 {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
}


.crop-india {
    width: 161px;
    height: 61px;
    margin: 32px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}


.arow {
    padding-right: 85px;
    padding-left: 85px;
}

.flex-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;


}

.nav-bar {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
}